@import "https://fonts.googleapis.com/css?family=Baloo+Paaji";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Baloo Paaji", cursive;
  background-color: #111827;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  position: absolute;
  width: 500px;
  height: 200px;
  top: -20%;
  /* left: 50%; */
  /* margin-top: -100px;
  margin-left: -350px; */
  z-index: 1000;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  animation: titleAnimation 3s 1 ease forwards;
}

h2 {
  font-size: 75px;
  /* text-transform: uppercase; */
  text-align: center;
}
h2 span {
  width: 100%;
  float: left;
  color: #fff;
  text-shadow: 0 0 3px #fff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  /* -webkit-text-stroke: 2px white; width and color */
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
}

h2 {
  top: 0;
  position: absolute;
}
h2 span {
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
}
h2 span:first-child {
  animation-delay: 0.7s;
  /* animation-iteration-count: 10; */
}
h2 span:last-child {
  /* color: #cd1515; */
  /* text-shadow: 0 0 3px #cd1515; */
  animation-delay: 0.5s;
  /* animation-iteration-count: 10; */
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    display: none;
  }
}
